{% extends 'layout.twig' %}

{% block content %}
	<div id="contact">
		<div class="centerblock">		
			<section id="mapover">
				<h1>{{footer.name}}</h1>
				<p>{{footer.address}}</p>
				<p>{{contact.email}}<br>{{contact.phone}}</p>
				<h2>munkatársak:</h2>
				{% for oneStaff in contact.staff %}
					<div>
						<h3>{{oneStaff.name}}</h3>
						<ul>
							<li>{{oneStaff.title}}</li>
							<li class="education">/{{oneStaff.education}}/</li>
							<li>{{oneStaff.phone}}</li>
							<li>{{oneStaff.email}}</li>
						</ul>
					</div>
				{% endfor %}
				<ul class="social">
					<li><a href="{{footer.facebook}}">facebook</a></li>
					<li><a href="{{footer.pinterest}}">Pinterest</a></li>
				</ul>
			</section>
		</div>
		<div id="map"></div>
	</div>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvP19EHjHEZbpwh7qcrscsdIVknhiE1nY&callback=initMap"></script>
{% endblock %}