{% extends 'layout.twig' %}

{% block content %}
	<div id="projects">
	{% for project in projects %}
	    <section>
	    	<a href="project/{{ project.name }}">
			<img src="{{asset('img/project')}}/{{project.name}}/index.jpg">
			</a>
			<div class="holder">
				<div>
					<h2>{{ project.title}}</h2>
					<h3>{{ project.type}}</h3>
					<p>{% for tag in project.tags %}<a href="#tag">{{tag}}</a>{% endfor %}</p>
					<a href="project/{{ project.name }}">olvass tovább</a>
				</div>				
			</div>
	    </section>
	{% endfor %}
	</div>
{% endblock %}