{% extends 'layout.twig' %}

{% block content %}
	{% for project in projects %}
	    <section>
			<img src="{{asset('img/project')}}/{{project.name}}/index.jpg">
			<div>
				<h2>{{ project.title }}</h2>
				<h3>{{ project.type }}</h3>
				<h3>{{ project.location }}</h3>
				<h4>{% for tag in project.tags %}{{tag}}{% endfor %}</h4>
				<a href="project/{{ project.name }}">olvass tovább</a>
			</div>
	    </section>
	{% endfor %}
{% endblock %}