<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pojan</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link href="{{ asset('css/common.css') }}" rel="stylesheet">
        <script type="text/javascript" src="{{ asset('js/common.js') }}"></script>
        <link href="{{ asset('css/common.css') }}" rel="stylesheet">
    </head>
    <body>
      <div class="container" id="pojan">
      {% if active == 'home' %}
        <header class="home">
      {% else %}        
        <header class="simple">
      {% endif %}
        {% if active == 'home' %}
          <h1>{{footer.descript}}</h1>
        {% endif %}        
          <div class="topline">

              <nav id="navigation">
                <div id="hamburger">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>        
                <ul id="navbar">
                    <li{% if active == 'home' %} class="active"{% endif %}><a href="{{ path('home') }}">Home</a></li>
                    <li{% if active == 'project' %} class="active"{% endif %}><a href="{{ path('project') }}">Project</a></li>
                    <li{% if active == 'about' %} class="active"{% endif %}><a href="{{ path('about') }}">About</a></li>
                    <li{% if active == 'contact' %} class="active"{% endif %}><a href="{{ path('contact') }}">Contact</a></li>
                </ul>            
              </nav>

            <a class="socialtop" title="Facebook" href="{{footer.facebook}}"><span>Facebook</span></a>
            <a class="logo" title="Pojan" href="{{ path('home') }}"><span>PojanLogo</span></a>            
          </div>
        </header>
    
   
        <div class="content">
          {% block content %}
          {% endblock %}
        </div><!-- /.container -->
        <footer>
          <a href="#navigation"><span direction="top"></span></a>
          <div class="container">
            <div class="name">
              <h4>{{footer.name}}</h4>
              <p>{{footer.descript|striptags}}</p>
            </div>
            <div class="social">
              <a href="{{footer.instagram}}">Instagram</a>
              <a href="{{footer.facebook}}">Facebook</a>
              <a href="{{footer.pinterest}}">Pinterest</a>
            </div>
            <div class="address">
              <address>{{footer.address}}</address>
            </div>
        </footer>  
      </div>
    </body>
</html>